// FONTS
$main-font: 'Roboto', sans-serif;

// PALETTE
$lightest-color: #FFF;
$darkest-color: #000;
$inputs-color: #1A1A1A;
$inputs-border-color: #4E4E4E;
$alt-text-color: #C1C1C1;
$button-color: #935598;
